@import url("https://fonts.googleapis.com/css?family=Numans");

html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

h3{
    text-align: center;
    color: rgb(0, 162, 255);
}


.container{
    height: 100%;
    align-content: center;
}

.card{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
    color: white;
    text-align: center;
}

#return {
    margin-left: 83%;
}

#color-green{
    color: lawngreen;
}

#color-red{
    color: red;
}

.color-head {
    color: rgb(0, 162, 255);
}

